<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="./../../static/assets/css/global.css">
        <link rel="stylesheet" type="text/css" href="./../../static/assets/css/bootstrap.min.css">
    </head>

    <body style="font-family: Arial; font-size: 14px" th:each="candidate: ${candidate}">
        <div>
            <p>Olá! Você está recebendo um currículo cadastrado na vaga oferecida!</p>
        </div>

        <div>
            <div>
                <div>
                    <h3 class="card-title" th:text="${candidate.name}"></h3>

                    <p class="card-subtitle mb-2 text-muted">
                        <span th:if="${candidate.gender == 'F'}">Feminino</span>
                        <span th:unless="${candidate.gender == 'F'}">Masculino</span>
                        <span> - </span>
                        <span th:text="${#calendars.format(birthDate,'dd/MM/yyyy')}">13 May 2011</span>

                        <br>

                        <span th:text="${candidate.address.street}"></span>
                        <span>, </span>
                        <span th:text="${candidate.address.addressNumber}"></span>
                        <span> - </span>
                        <span th:text="${candidate.address.complement}"></span>
                        <span> - </span>
                        <span th:text="${candidate.address.district}"></span>
                        <span> - </span>
                        <span th:text="${candidate.address.zipCode}"></span>
                        <span> - </span>
                        <span th:text="${candidate.address.city}"></span>
                        <span> - </span>
                        <span th:text="${candidate.address.state}"></span>

                        <br>

                        <span th:text="${candidate.phoneNumber}"></span>
                        <span> - </span>
                        <span th:text="${candidate.mobileNumber}"></span>

                        <br>

                        <span th:text="${candidate.userCandidate.email}"></span>
                    </p>

                    <div class="pt-3">
                        <h4 class="card-title">Formação</h4>

                        <div th:each="educationList: ${candidate.educationList}">
                            <span th:text="${#calendars.format(startDate,'dd/MM/yyyy')}"></span>
                            <span> até </span>
                            <span th:text="${#calendars.format(endDate,'dd/MM/yyyy')}"></span>
                            <br>
                            <span th:text="${educationList.formation.description}"></span>
                            <br>
                            <span th:text="${educationList.institution}"></span>
                            <br>
                            <span th:text="${educationList.course}"></span>
                            <br>
                            <span th:text="${educationList.formationSituation}"></span>
                            <br>
                        </div>
                    </div>

                    <div class="pt-3">
                        <h4 class="card-title">
                            Experiência
                        </h4>

                        <div th:each="experienceList: ${candidate.experienceList}">
                            <span th:text="${#calendars.format(startDate,'dd/MM/yyyy')}"></span>
                            <span> até </span>
                            <span th:text="${#calendars.format(endDate,'dd/MM/yyyy')}"></span>
                            <br>
                            <span th:text="${experienceList.company}"></span>
                            <br>
                            <span th:text="${experienceList.roleTitle}"></span>
                            <br>
                            <span th:text="${experienceList.roleDescription}"></span>
                            <br>
                        </div>
                    </div>

                    <div class="pt-3">
                        <h4 class="card-title">
                            Competência
                        </h4>

                        <div th:each="competences: ${candidate.competences}">
                            <span th:text="${competences.name}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="./../../static/assets/js/bootstrap.min.js"></script>
    </body>
</html>