<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="./../../static/assets/css/global.css">
        <link rel="stylesheet" type="text/css" href="./../../static/assets/css/bootstrap.min.css">
    </head>

    <body style="font-family: Arial; font-size: 14px" th:each="password: ${password}">
        <div>
            <p>Olá! Você está recebendo uma senha nova!</p>
            <p>Fazer alteração no primeiro acesso</p>
        </div>

        <div>
            <b>
                <span th:text="${password}"></span>
            </b>
        </div>

        <script src="./../../static/assets/js/bootstrap.min.js"></script>
    </body>
</html>